.imgGenre {
    display: block;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px);
}